@import "tailwindcss";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  /* font-family: Arial, Helvetica, sans-serif; */
}

@theme {
  --color-iris-100: #5d5fef;
  --color-iris: #7879f1;
  --color-iris-60: #a5a6f6;
  --color-ocean: #56ccf2;
  --color-ocean-50: #f6fcfe;
  --color-ocean-500: #2f80ed;
  --color-leaf: #38ef7d;
  --color-leaf-50: #f6fef9;
  --color-leaf-700: #11998e;
  --color-orchid: #e100ff;
  --color-veronica: #7f00ff;
  --color-veronica-50: #fef5ff;
  --color-dark: #110d17;
  --color-mud: #98949e;
  --color-secondary: #f17300;
  --color-secondary-50: #fefbf6;
  --color-sitrus: #eea849;
  --color-tangerine: #f46b45;
  --color-error-500: #8f0a13;
  --color-error-300: #f02d3a;
  --color-error-100: #fef5f6;
  --color-fence: #d1d0d366;
  --color-placeholder: #d1d0d3;
  --color-steel: #6d6d6d;
  --color-backdrop: rgba(0, 0, 0, 0.3);
}

@utility shadow-topMenu {
  @apply shadow-[4px_4px_10px_0px_#0000000D];
}

@utility shadow-topNumber {
  @apply shadow-[2px_2px_0px_0px_#464646];
}

@utility shadow-pagination {
  @apply shadow-[2px_2px_4px_0px_#0000000D];
}

/* box-shadow: 2px 2px 4px 0px #0000000D; */
